doctype html 
html
  head 
    title animeworld 
    block script 
    block style 
  body 
    
    nav#navbar 
      ul 
        div 
            img(src="/static/img/pngwing.com.png", alt="")
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/contact") Contact us]
        li #[a(href="/") Anime  Info]
        li #[a(href="/") Services]
    block content 
    footer#footer
      |Copyright © animeworld.com | All rights reserved